<launch>
    <node pkg="beginner_tutorials" type="cityhall_gpsimu_parser.py" name="GPS_IMU_parser" output="screen"/>
    <node pkg="beginner_tutorials" type="cityhall_global_path_pub.py" name="read_path_pub"/>
    <node pkg="beginner_tutorials" type="cityhall_local_path_pub.py" name="path_pub"/>    
    <node pkg="beginner_tutorials" type="cityhall_pure_pursuit_skel.py" name="pure_pursuit" output="screen"/>
</launch>

